.header .searchbar button {
    float: right;
    padding: 12px 12px;
    margin-top: 8px;
    margin-right: 12px;
    background: #CBA06F;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.header input[type=text] {
    background-color: #CBA06F;
    border: none;
    padding-block: 16px;
    padding-inline: 16px;
    font-size: 16px;
}