body {
    margin: 0px;
}
.header {
    height: 80px;
    align-items: center;
    display: flex;
    background-color: #D9B080;
    flex-direction: row;
}

.searchbar {
    display: flex;
    flex-direction: row;

}

.header .searchbar button {
    padding: 12px 12px;
    background-color: #CBA06F;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-block: 0px;
}

.header input[type=text] {
    width: 336px;
    background-color: #CBA06F;
    color: #413924;
    border: none;
    padding-block: 16px;
    padding-inline: 16px;
    font-size: 16px;
}

.header img {
    height: 56px;
    width: auto;
    margin-bottom: 14px;
    margin-left: 20px;
}


.icon-search {
    mask-image: url(/Search.png);
}