body {
    margin: 0px;
}
.header {
    height: 80px;
    display: inline-block;
    background-color: #D9B080;
}

.searchbar {
    width: auto;
}

.header .searchbar button {
    float: right;
    padding: 12px 12px;
    background-color: #CBA06F;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-block: 0px;
}

.header input[type=text] {
    width: 336px;
    background-color: #CBA06F;
    color: #413924;
    border: none;
    padding-block: 16px;
    padding-inline: 16px;
    font-size: 16px;
}

.header input::placeholder {
    color: #503C27;
}

.header img {
    height: 56px;
    width: auto;
}


.header .searchbar img {
    width: 24px;
    height: auto;
}