*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
-moz-text-size-adjust: none;
-webkit-text-size-adjust: none;
text-size-adjust: none;
height: 100%;
}

body, h1, h2, h3, h4, p, ul, ol, li,
figure, blockquote, dl, dd {
margin: 0;
}

ul, ol {
list-style: none;
padding: 0;
}

img, picture, video, svg {
display: block;
max-width: 100%;
height: auto;
}

input, textarea, select, button {
font: inherit;
border: none;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/Cunia.woff2') format('woff2');
    font-weight: 600;
}
  
body {
    background-color: #FBF8D2;;
    color: #00625E;
    display: flex;
    flex-direction: column;
    font: 22px Roboto, Arial, sans-serif;
    line-height: 1.25;
    width: 100vw;
    max-width: 1000px;
    padding: 0;
}

h1 {
    font-family: 'MyCustomFont', Helvetica, sans-serif;
    font-size: 140px;
    line-height: 100%;
    color: #F24547;
    padding-bottom: 67px;
}

h2 {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 95%;
    padding-bottom: 12px;
}

.logo {
    width: 80px;
}

.menu ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    padding: 0;
    column-gap: 50px;
    padding-bottom: 1px;
}

a {
    position: relative;
    z-index: 1;
    color: #00625E;
    text-underline-offset: 21%;
    text-decoration-thickness: 5%;
    text-decoration-color: #00625E40;
    font-family: Roboto Condensed, Arial, sans-serif;
    font-size: 20px;
}

a:hover {
    text-decoration-color: #00625E;
}

.menu__item a::before {
    content: '';
    position: absolute;
    inset: -4px -10px -6px -10px;
    z-index: -1;
}

.menu__item.help::after {
    font-size: 12px;
    content: '❤';
    color: red;
    padding-left: 4px;
}

.menu__item.is__active a {
    color: white;
    text-decoration: none;
}

.menu__item.is__active a::before {
    background-color: #00625E;
    border-radius: 4px;
}

.header__icons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    padding: 0;
    column-gap: 12px;
}

.header__icons .icon {
    fill: #00625E;
}
.header__icons .icon:hover {
    fill: #E5432D;
}

.header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    column-gap: 58px;
    align-items: center;
    line-height: 1;
    padding: 16px 0;
    background-color: #FBF8D2;
    padding: 16px 48px 0;
}

.header .header__icons {
    justify-self: end;
}

section {
    flex: 1;
    padding: 60px 0 0 64px;
}

.product__item {
    display: flex;
    flex-direction: row;
    gap: 12px;
    background: linear-gradient(to bottom right, #FBF8D2 0%, #FBF8D2 50%, #E5EEDB 50%, #E5EEDB 100%) no-repeat bottom / 100% 570px;
}


.item-description {
    height: 532px;
}

.item__description p {
    margin-bottom: 14px;
}

.button {
    background: url(button_buy.svg) no-repeat center/contain;
    font-family: Roboto Condensed, Arial, sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 1;
    color: white;
    padding: 12px 20px 14px;
    margin-bottom: 50px;

}

.button:hover {
    filter: saturate(2);
    cursor: pointer;
}

.button:active {
    filter: brightness(1.5);
}

.tags-field {
    max-width: 232px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12.5px;
}

.tags-field .tag {
    height: 59px;
}
.item__img_1 {
    max-width: 575px;
    margin-right: -76px;
    margin-top: -21px;
}

.footer {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-content: end;
    background: #C8DEF0 url(Mouse_Cherry.png) center bottom / 175px no-repeat ;
    padding: 36px 48px;
    min-height: 180px;
}

.footer__info {
    font-size: 13px;
    color: black;
}

.footer__info .copyright {
    margin-bottom: 24px;
}
.footer__info .tel {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: start;
    gap: 24px;
}

.tel__numbers {
    line-height: 1;
}
.tel__numbers .numbers {
    font-size: 35px;
    font-family: Neucha, Arial, sans-serif;
    color: #00625E;
}

.background-element {
    background-image: url(Mouse_Cherry.png);
    background-position: bottom;
    background-repeat: no-repeat;
}
.footer__social {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    column-gap: 12px;
}

@media (width < 922px) {
    .header {
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content;
        row-gap: 30px;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .logo {
        width: 60px;
    }

    .header .header-icons {
        grid-column: 2;
        grid-row: 1;
        gap: 16px;
    }

    .header .menuHolder {
        grid-column: 1 / span 2;
        grid-row: 2;
        margin-left: -24px;
        margin-right: -24px;
    }

    .header-icons svg {
        width: 40px;
        height: 40px;
    }
    
    .menu {
        padding: 10px;
        margin: -10px 0;
        scrollbar-width: none;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .menu::-webkit-scrollbar {
        display: none;
    }
}

@media (width > 922px) {
    .footer__social {
        align-content: end;
        justify-self: end;
    }
}

@media (width < 922px) {
    .footer {
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        background-image: none;
        row-gap: 1.25em;
    }
}
