body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0px;
    height: 2000px;
    background-color: #979797;
    font-family: "Inter", sans-serif;
}

.header {
    width: 100%;
    height: 4rem;
    align-items: center;
    display: flex;
    background-color: #D9B080;
    flex-direction: row;
    justify-content: space-between;
}

.searchbar {
    width: 336px;
    height: 48px;
    border: none;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    background-color: #cba06f;
}

.searchbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 48px;
    position:absolute;
    top: 0px;
    right: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    background-image: url(Search.png);
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: center right 1ch;
}

input::placeholder {
    color: #614a32;
    opacity: 45%;
}

.searchbar >input {
    width: 320px;
    height: inherit;
    border: none;
    background-color: inherit;
    align-items: center;
    font-size: 16px;
    padding-left: 1rem;
    border-radius: inherit;
}

.searchbar >input[type=text]:focus {
    background-color: white;
    border: none;
    outline: none;
    padding-left: 1rem;
}

.searchbar >input:focus {
    padding: 1px;
    box-shadow: inset 0 0 0 1px #614a32;
}
.header >img {
    height: 52px;
    width: auto;
    margin-bottom: 0.25rem;
    margin-left: 1.5rem;
}

.nav {
    width: 584px;
    display: inline-flex;
    align-items: center;
}
.create_post {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    background-color: #edc28f;
    color: #503C27;
    padding-right: 2rem;
    margin-left: 2.5rem;
    cursor: pointer;
    background-image: url(pencil.png);
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-position: center right 25%;
}
ul {
    padding: 0;
    margin-right: 1rem;
    background-image: url(light.png);
    background-repeat: no-repeat;
    background-size: 0.85rem;
    background-position: center right;
}
li {
    width: 3.75rem; 
    display: flex; 
    align-items: center; 
    position: relative; 
}

input[type="checkbox"] { appearance: none; width: 2.33rem; height: 1.33rem; border-radius: 1rem; border: 1px solid rgba(80, 60, 39, 0.6); background: #cba06f; cursor: pointer;}

input[type="checkbox"]::before { width: 1rem; height: 1rem; border-radius: 50%; border: 1px solid rgba(80, 60, 39, 0.6); background-color: #edc28f; content: ""; position: absolute; top: 0.3rem; left: 35%; transition: 0.4s; }

input[type="checkbox"]:checked { background-color: black; transition: 0.4s; }

input[type="checkbox"]:checked::before { left: 11%; transition: 0.4s; }

.switcher-prf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.66rem;
}

.profile {
    display: block;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    background-color: #105b5b;
    padding: 0;
    border: 1px solid #614a32;
    color: white;
    cursor: pointer;
}

.feed {
    display: flex;
    width: 900px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #FFFEFB;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
    overflow: hidden;
}

.feed-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    background-color: #E5EFF1;
    overflow: hidden;
    border-bottom: 2px solid rgba(26, 72, 82, 0.1);
}

.post-sort {
    display: flex;
    flex-direction: row;
    margin-left: 1.5rem;
}
.post-sort .new, .popular {
    height: 1.66rem;
    width: auto;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    background-color: #FCFDFF;
    padding-inline: 1.33rem;
    cursor: pointer;
    color: #04141A;
    &:not(.popular) {
        margin-left: 0.33rem;
    }
}

.feed-header .filter {
    height: 1.66rem;
    width: 1.66rem;
    border: none;
    border-radius: 4px;
    background-color: #FCFDFF;
    cursor: pointer;
    margin-left: 0.75rem;
    background-image: url(filter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.sort-date {
    width: 100%;
    min-width: 7ch;
    font-size: 18px;
    font-family: inherit;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #04141A;
    padding-right: 0.5ch;
}

.date-selector {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    margin-right: 1.5rem;
}

.date-selector span {
    font-size: 18px;
    color: #04141A;
}

.post-box {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 16ch 4fr;
    grid-template-rows: 1fr auto;
    column-gap: 1rem;
    row-gap: 1rem;
}

.tag-column {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: transparent;
    z-index: 1;
}

.tag-cloud {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.tag-cloud * {
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
}

.tag {
    border: none;
    border-radius: 0.75rem;
    background-color: rgba(98, 81, 21, 0.15);
    color: #503C27;
    opacity: 55%;
    font-size: 16px;
    font-family: serif;
    padding: 0.25rem 0.66rem;
    cursor: pointer;
}

.tag:hover {
    opacity: 100%;
    background-color: #edc28f;
    color: #503C27;
}

.tag:active {
    background-color: transparent;
}
.content {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: transparent;
}

.content .post {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    color: #413924;
    font-family: serif;
    font-size: 22px;
}

.post h1 {
    margin: 0;
    font-size: 36px;
    font-family: sans-serif;
}

a {
    color: rgba(98, 81, 21, 0.7);
    text-decoration: solid;
    transition: 0.3s;
}

a:hover {
    color: red;
    transition: 0s;
}

.post .author {
    align-self: end;
    font-size: 20px;
    box-shadow: inset 0 -0.5px rgba(98, 81, 21, 0.6);
    transition: 0.3s;
}

.author:hover {
    box-shadow: inset 0 -1px red;
    transition: 0s;
}

.post-date {
    display: inline-flex;
    align-self: end;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    color: rgba(80, 60, 39, 0.4);
    font-size: 18px;
}
.nav-row {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: transparent;
    border-bottom: solid 2px rgba(80, 60, 39, 0.3);
}

.nav-row .int-buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 7.5rem;
    margin-left: 1.5rem;
}

.nav-row button {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 60%;

}

.nav-row button:hover {
    opacity: 100%;
}

.post-share {
    background-image: url(share.png);
}

.post-fav {
    background-image: url(fav.png);
}

.post-comments {
    background-image: url(comments.png);
}

.nav-row .post-likes {
    margin-right: 1.5rem;
    background-image: url(like.png);
}