*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

body, h1, h2, h3, h4, p, ul, ol, li,
figure, blockquote, dl, dd {
    margin: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
}

img, picture, video, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input, textarea, select, button {
    font: inherit;
    border: none;
}

@font-face {
    font-family: Cunia;
    src: url('Cunia.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
  
body {
    background-color: #FBF8D2;;
    color: #00625E;
    display: flex;
    flex-direction: column;
    font: 22px/1.25 Roboto, Arial, sans-serif;
    padding: 0;
}

.svg-sprite {
    display: none;
}

h1 {
    font: 140px/1 Cunia, Helvetica, sans-serif;
    color: #F24547;
    margin: 0 0 55px -4px;
}

h2 {
    font: 800 42px/.95 Raleway, Helvetica, sans-serif;
    margin-bottom: 12px;
}

.logo {
    width: 80px;
}

.menu ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    padding: 0 0 1px 0;
    column-gap: 50px;
}

a {
    position: relative;
    z-index: 1;
    color: #00625E;
    text-underline-offset: 21%;
    text-decoration-thickness: 5%;
    text-decoration-color: #00625E40;
    font: 20px/1 'Roboto Condensed', Arial, sans-serif;
}

a:hover {
    text-decoration-color: #00625E;
}

.menu__item a::before {
    content: '';
    position: absolute;
    inset: -4px -10px -6px -10px;
    z-index: -1;
}

.menu__item.help::after {
    font-size: 13px;
    content: 'â¤';
    color: #F24547;
    margin-left: 3px;
}

.menu__item.is__active a {
    color: #ffffff;
    text-decoration: none;
}

.menu__item.is__active a::before {
    background-color: #00625E;
    border-radius: 4px;
}

.header__icons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    padding: 0;
    column-gap: 12px;
}

.header__icons .icon {
    fill: #00625E;
}

.header__icons .icon:hover {
    fill: #F24547;
}

.header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    column-gap: 58px;
    align-items: center;
    background-color: #FBF8D2;
    padding: 24px 48px;
}

.header__icons {
    justify-self: end;
}

.article__first-floor {
    flex: 1;
    padding: 32px 60px 60px 68px;
    min-height: 946px;
    background: linear-gradient(to bottom right, #FBF8D2 0%, #FBF8D2 50%, #E5EEDB 50%, #E5EEDB 100%) no-repeat bottom / 100% 63%;
}

.product__item {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.item__description {
    max-width: 610px;
}

.item__description p {
    min-width: 400px;
    margin: 0 20px 17px 0;
}

.button {
    background: url(button_buy.svg) no-repeat center/100% 100%;
    font: 600 23px/1 'Roboto Condensed', Arial, sans-serif;
    color: #ffffff;
    padding: 12px 20px 14px;
    margin: 0 0 50px 2px;

}

.button:hover {
    filter: saturate(2);
    cursor: pointer;
}

.button:active {
    filter: brightness(1.3);
}

.tags-field {
    max-width: 232px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12.5px;
}

.tags-field .tag {
    height: 59px;
}

.item__image {
    margin-top: 3px;
    min-width: 462px;
}

.item__image img {
    transform: rotate(4.55deg);
    box-shadow: 39.4px 35.5px 39px 0px rgba(18, 96, 11, 10%), 25.5px 23px 22.8px 0px rgba(18, 96, 11, 8%), 15.2px 13.7px 12.4px 0px rgba(18, 96, 11, 6%), 7.9px 7.1px 6.3px 0px rgba(18, 96, 11, 5%), 3.2px 2.9px 3.2px 0px rgba(18, 96, 11, 4%), 0.7px 0.6px 1.5px 0px rgba(18, 96, 11, 2%);
}

.footer {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-content: end;
    background: #C8DEF0 url(Mouse_Cherry.webp) 53% bottom / 265px no-repeat;
    padding: 36px 48px;
    min-height: 180px;
}

.footer__info {
    font: 13px/1 'Roboto Condensed', Arial, sans-serif;
    color: #000000;
}

.footer__info .copyright {
    margin-bottom: 24px;
}

.footer__info .tel {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: start;
    gap: 24px;
}

.tel__numbers .numbers {
    font: 35px/1 Neucha, Arial, sans-serif;
    color: #00625E;
}

.tel__numbers a {
    text-decoration: none;
}

.tel__numbers .numbers:hover {
    color: #F24547;
}

.footer__social {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    column-gap: 12px;
}

.footer__social .icon:hover {
    transform: scale(1.1);
}

.footer__social .icon {
    transition: transform 150ms ease-in-out;
}

@media (width > 922px) {
    .footer__social {
        align-content: end;
        justify-self: end;
    }
}

@media (width > 1322px) {
    .article__first-floor {
        padding-left: 12vw;
        padding-right: 9vw;
    }

    .header {
        padding-left: 6vw;
        padding-right: 6vw;
    }

    .footer {
        padding-left: 6vw;
        padding-right: 6vw;
    }
}

@media (width < 922px) {
    .header {
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content;
        row-gap: 30px;
        padding: 24px;
    }
    
    .logo {
        width: 60px;
    }

    .header__icons {
        grid-column: 2;
        grid-row: 1;
        gap: 20px;
    }

    .header__menu {
        grid-column: 1 / span 2;
        grid-row: 2;
        margin-left: -12px;
        margin-right: -12px;
    }

    .header__icons .icon {
        width: 36px;
        height: 36px;
    }
    
    .menu {
        padding: 10px;
        margin: -10px 0;
        scrollbar-width: none;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .menu::-webkit-scrollbar {
        display: none;
    }

    .menu ul {
        column-gap: 30px;
    }

    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 32px;
    }

    body {
        font-size: 18px;
        display: block;
    }

    .article__first-floor {
        padding: 4vw 6vw 6vw 7vw;
    }

    .item__description p {
        hyphens: auto;
    }

    .product__item {
        flex-direction: column-reverse;
    }

    .item__image {
        align-self: center;
        min-width: auto;
    }

    .item__description p {
        min-width: auto;
    }

    .footer {
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        background-image: none;
        row-gap: 1.25em;
        min-height: auto;
        padding: 24px;
    }

    .tel__numbers .numbers {
        font-size: 24px;
    }

    .footer__social {
        column-gap: 18px;
    }

    .footer__social .icon {
        width: 40px;
    }
}
